.app-404-page {
    padding-top: 2rem;
  }
  .app-404-page .page-title {
    font-size: 3rem;
    line-height: 0.8;
    font-weight: bold;
  }
  .app-404-page .page-title span {
    font-size: 1.5rem;
  }