<div class="app app-signup p-0">

    <div class="row g-0 app-auth-wrapper">
	    <div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
		    <div class="d-flex flex-column align-content-end">
			    <div class="app-auth-body mx-auto">	
				    <div class="app-auth-branding mb-4"><a class="app-logo" ><img class="logo-icon me-2" src="assets/images/app-logo.svg" alt="logo"></a></div>
					<h2 class="auth-heading text-center mb-4">Sign up to Portal</h2>					
	
					<div class="auth-form-container text-start mx-auto">
						<form class="auth-form auth-signup-form"  [formGroup]="signUpForm" (ngSubmit)="onSubmit()">         
							<div class="email mb-3">
								<label class="sr-only" for="signup-name">Your Name</label>
								<input id="signup-name" formControlName="name" name="signup-name" type="text" class="form-control signup-name" placeholder="Full name" required="required">
							    <div *ngIf="f['name'].touched && f['name'].invalid" class="text-danger">
									<div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required.</div>
								</div>
							</div>
							<div class="email mb-3">
								<label class="sr-only" for="signup-email">Your Email</label>
								<input id="signup-email" name="signup-email" formControlName="email" type="email" class="form-control signup-email" placeholder="Email" required="required">
							    <div *ngIf="f['email'].touched && f['email'].invalid" class="text-danger">
									<div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
									<div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
								</div>
							</div>
							<div class="password mb-3">
								<label class="sr-only" for="signup-password">Password</label>
								<input id="signup-password" formControlName="password" name="signup-password" type="password" class="form-control signup-password" placeholder="Create a password" required="required">
							    <div *ngIf="f['password'].touched && f['password'].invalid" class="text-danger">
									<div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</div>
									<div *ngIf="f['password'].errors && f['password'].errors['minlength']">Please, enter valid password address.</div>
								</div>
							</div>
							<div class="password mb-3">
							<div class="input-group">
								<label class="sr-only" for="signup-password">Phone</label>
								<ng-select 
									#MyNgSelect  
									formControlName="dialCode"         
									bindLabel="code"
									name="mySelectBox"
									required
									[clearable]="false"
									[style]="{width: '100px'}"
								>
									<ng-option class="dropdown-item"  style="height:40px" [value]="item?.dial_code"  *ngFor="let item of dialCodeList">
										<img src="{{item.image}}" width="20px" height="20px"/>
										{{item?.dial_code}}
									</ng-option>
					            </ng-select>
								<input type="text" class="form-control" placeholder="Phone number" formControlName="phone" aria-label="Text input with dropdown button">
								</div>
								<div *ngIf="f['phone'].touched && f['phone'].invalid" class="text-danger">
									<div *ngIf="f['phone'].errors && f['phone'].errors['required']">Phone number is required.</div>
									<div *ngIf="f['phone'].errors && f['phone'].errors['minlength']">Please, enter valid password address.</div>
								</div>
							</div>
							<div class="extra mb-3">
								<div class="form-check">
									<input class="form-check-input" formControlName="agree"  type="checkbox" value="" id="RememberPassword">
									<label class="form-check-label" for="RememberPassword">
									I agree to Portal's <a href="#" class="app-link">Terms of Service</a> and <a href="#" class="app-link">Privacy Policy</a>.
									</label>
									<div *ngIf="f['agree'].touched || submited"  class="text-danger">
										<div *ngIf="!this.signUpForm?.value?.agree">Please agree terms and services</div>
									</div>
								</div>
							</div><!--//extra-->
							
							<div class="text-center">
								<button [disabled]="this.signUpForm?.invalid" type="submit" class="btn app-btn-primary w-100 theme-btn mx-auto">
									<ng-container *ngIf="isLoading else content">
										<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
										Loading...
									</ng-container>
									<ng-template #content>
										Sign Up
									</ng-template>
								</button>
							</div>
						</form><!--//auth-form-->
						
						<div class="auth-option text-center pt-5">Already have an account? <a class="text-link" (click)="helper?.redirectTO('', 'Login')" >Log in</a></div>
					</div><!--//auth-form-container-->	
					
					
				    
			    </div><!--//auth-body-->
		    
			    <footer class="app-auth-footer">
				    <div class="container text-center py-3">
				         <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
			        <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a class="app-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
				       
				    </div>
			    </footer><!--//app-auth-footer-->	
		    </div><!--//flex-column-->   
	    </div><!--//auth-main-col-->

        <!--//auth-background-col-->
	    <div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
		    <div class="auth-background-holder">			    
		    </div>
		    <div class="auth-background-mask"></div>
		    <div class="auth-background-overlay p-3 p-lg-5">
			    <div class="d-flex flex-column align-content-end h-100">
				    <div class="h-100"></div>
				    <div class="overlay-content p-3 p-lg-4 rounded">
					   <!-- Empty for purpose -->
                    </div>
				</div>
		    </div>
	    </div>
    
    </div><!--//row-->

</div>
