.app-login .auth-background-holder {
    background: url("../../../assets/images/background/background-1.jpg") no-repeat center
      center;
    background-size: cover;
    height: 100vh;
    min-height: 100%;
  }